/* General Styles */
.bg-black {
  background-color: black;
}
.h-screen {
  height: 100vh;
}
/* Top-Rated Section */
.top-rated-container {
  padding: 20px;
  margin-top: 60px;
  background-color: rgb(7, 0, 0);
  color: white;
  text-align: center;
}

.top-rated-title {
  font-size: 28px;
  color: #33339a;
  margin-bottom: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.movie-card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-poster {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.movie-title {
  font-size: 18px;
  color: white;
  margin-top: 10px;
}

.movie-overview {
  font-size: 14px;
  color: #ccc;
}

.movie-button {
  background-color: #33339a;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.movie-button:hover {
  background-color: #33339a;
}

/* Navbar Styles */
:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.navbar-brand {
  color: #33339a;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar-item {
  margin: 0 15px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar-link:hover {
  text-decoration: underline;
}

/* Search Section */
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
}

.search-title {
  color: white;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.search-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 800px;
}

.search-form {
  display: flex;
  width: 100%;
}

.search-input {
  width: 600px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  border-right: none;
  outline: none;
  font-size: 18px;
}

.search-button {
  padding: 15px 30px;
  background-color: #33339a;
  border: none;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #33339a;
}

/* Language Selector */
.language-selector-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.language-selector-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: black;
  color: white;
}

.language-selector-container select:focus {
  outline: none;
  border-color: #33339a;
}

.language-selector-container option {
  color: white;
}
